<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <h4 class="header-title m-t-0 m-b-30">Variants</h4>
            <table id="datatable-responsive" class="table table-bordered dt-responsive nowrap" cellspacing="0" width="100%" data-url="<%= stocks_url(format: "json") %>" >
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>SKU</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>